<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DestURL" value="http://cpmaster.maurices.com/WebServices/Utilities.asmx" />
    <add key="SOAPReqDateFormat" value="{{0:yyyyMMdd}}" />
    <add key="SOAPReqTimeFormat" value="{{0:HHmmss}}" />
    <!-- The web site ID below is for thelink.maurices.com -->
    <add key="SOAPReqWebSiteID" value="8f266647-0fd2-49d9-a0fd-8c365a1bf293" />
    <add key="SOAPReqUserName" value="MAUBATCH" />
    <!-- The number of times we will check the status of the data transfer after it executes -->
    <add key="MAX_STATUS_CHECKS" value="3600" />
    <!-- The number of milliseconds we will wait in between each status check -->
    <add key="STATUS_CHECK_INTERVAL" value="2000" />
    <add key="INTRA_DATABASE_NAME" value="cpweb_Maurices2" />
    <add key="INTRA_DATABASE_HOST" value="L01PWMAUSQL01.maurices.com" />
    <add key="INTRA_DATABASE_USER" value="cpsys_Execute" />
    <add key="INTRA_DATABASE_PASS" value="NewAlbany123#" />
    <add key="DEBUG" value="False" />
    <add key="XMLStatusResponse" value="GetProcessStatusResponse" />
    <add key="XMLStatusResult" value="GetProcessStatusResult" />
    <add key="XMLStepsResponse" value="GetProcessStepsResponse" />
    <add key="XMLStepsResult" value="GetProcessStepsResult" />
    <add key="StatusLost" value="LOST" />
    <add key="StatusRemoveLock" value="Remove Lock:" />
    <add key="StatusSuccess" value="Transfer Succeeded:" />
    <add key="StatusFail" value="Transfer Failed:" />
    <!-- The data IDs below associate a key name with a uniqueidentifier.  The key name should -->
    <!-- be specified on the command line so the program can resolve the name to the ID -->
    <!-- The ID tells Central Point which Data Transfer job to execute. -->
    <add key="StoreHistoricalReportRefresh" value="36919cf8-5cc4-4af3-8de2-02f96a3c3d76" />
    <add key="StoreCurrentReportRefresh" value="43e4ff71-e1e5-4caf-8e3d-71bd5debcae6" />
    <add key="EmployeeDirectoryRefresh" value="9c6918a9-dfce-4591-8a32-48713ba81857" />
    <add key="EmployeeCelebrationsRefresh" value="cffd765b-d983-4c9e-b7fa-72b4b6af2650" />
    <add key="ADPEmployeesImport" value="9974d6ce-8c1d-4b60-9aaf-89c60d586b57" />
    <add key="ADPReviewStatsImportQ1" value="79461867-296c-48f0-8929-c20589618d73" />
    <add key="ADPReviewStatsImportQ2" value="350a8434-1e57-49df-9c32-d8cd4d2e15fd" />
    <add key="ADPReviewStatsImportQ3" value="67333fde-a002-48f2-87c1-c82b81761aae" />
    <add key="ADPReviewStatsImportQ4" value="2ef83e5b-f53f-46b2-a1cc-50fe7598b5d8" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>